body {
    background-image: url(imagens/Desktop\ -\ 5.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 2px 7px black;
    color: white;
}

header {
    text-align: center;
}

section {
    margin-top: 50px;
}

#login {
    display: flex;
    justify-content: space-around;
}

button {
    text-align: center;
    background: linear-gradient(to top, rgb(82, 26, 26), rgb(177, 13, 13), rgb(176, 36, 36));
    width: 300px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
    font-size: 25px;
    border-radius: 15px;
    transition: transform 0.3s;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:visited {
    text-decoration: none;
    color: aliceblue;
}

footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(44, 44, 44);
    padding: 30px;
    position: absolute;
    width: 100%;
}