body {
    margin: 0;
    background-color: #192f48;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(to right, black, #192f48, rgb(24, 24, 122), #192f48, black); */
    background-image: url(imagens/Desktop\ -\ 5.png);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    background: linear-gradient(to right, black, gray, rgb(80, 80, 80), black);
    width: 100%;
    padding: 10px;
}

#conteudo {
    text-align: left;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 100px;
}

#resenha {
    padding: 10px;
    border-style: double;
    width: 80%;
    text-align: justify;
    margin-left: 30px;
    font-size: 20px;
    border-radius: 10px;
}

#avaliacao {
    display: flex;
}

#botaoAssistir {
    background-color: rgb(255, 255, 255);
    color: #494949;
    font-size: 20px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    transition: transform 0.3s;
    text-align: center;
}

#botaoAssistir:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#reiLeao {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: top;
    gap: 150px;
}

#imagem_rei_leao {
    margin-left: 150px;
}

#botaoVoltar {
    transition: transform 0.3s;
}

#botaoVoltar:hover {
    transform: scale(1.1);
    cursor: pointer;
}

footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, black, gray, rgb(80, 80, 80), black);
    padding: 30px;
    position: absolute;
    width: 100%;
}